.header {
  display: grid;
  grid-template-columns: 425px 134px 430px;
  align-items: center;
  padding: 90px 24px 90px 58px;
  background-color: #fff;
}

.menu__list {
  display: flex;
}

.menu__list__item__link {
  text-transform: lowercase;
}

.menu__list__item__link--active {
  text-decoration: none;
  pointer-events: none;
}

.menu__list__item__link:hover {
  text-decoration: none;
}

.header__menu__list {
  gap: 28px;
  padding: 0;
  list-style-type: circle;
  font-size: 18px;
}

.header__menu__list__item:first-child {
  list-style-type: none;
}

.header__menu__list__item__link {
  padding-left: 5px;
}

.header__menu__list__item:first-child .header__menu__list__item__link {
  padding-left: 0;
}

.header__logo__img {
  width: 134px;
  height: 104px;
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 1px;
}

.header__contacts {
  justify-self: end;
}

.heroe {
  padding: 163px 26px 48px 47px;
  margin: 0 8px;
  background-color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: top center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.heroe__content__heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 122px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  word-spacing: -.36em;
  color: #fff;
}

.heroe__row__1 {
  padding-bottom: 10px;
}

.heroe__row__2 {
  padding-bottom: 5px;
  padding-right: 21px;
}

.heroe__content__heading__row--center {
  text-align: center;
}

.heroe__content__heading__row--right {
  text-align: right;
}

.ls-25 {
  letter-spacing: 25px;
}

.ls-28 {
  letter-spacing: 28px;
}

.ls-29 {
  letter-spacing: 29px;
}

.ls-30 {
  letter-spacing: 30px;
}

.ls-57 {
  letter-spacing: 57px;
}

.ls-59 {
  letter-spacing: 59px;
}

.ls-60 {
  letter-spacing: 60px;
}

.heroe__content__promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 34px;
  width: 100%;
  height: 52px;
}

.heroe__content__promo__text {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  text-align: justify;
  word-spacing: 17px;
}

.heroe__content__promo__text--intent {
  padding-left: 27px;
}

.heroe__content__promo__button {
  display: inline-block;
  padding: 12px 30px;
  margin-right: 23px;
  border: 1px solid #fff;
  font-size: 22px;
  color: #fff;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.heroe__content__promo__button:hover {
  background-color: #fff;
  color: #000;
}

.lots {
  padding: 176px 33px 177px;
  background-color: #fff;
}

.lots_heading {
  margin: 0 27px 26px 39px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__list__item {
  width: 328px;
  height: 554px;
  flex-grow: 1;
}

.lots__list__item__link {
  display: block;
  height: 100%;
  text-decoration: none;
  color:#fff;
}

.lots__list__item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 48px 38px 46px;
  background-color: #000;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

.lots__film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__list__item__heading {
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
  color: #fff;
}

.ls-004 {
  letter-spacing: 0.04rem;
}

.ls-0015 {
  letter-spacing: 0.015rem;
}

.lots__list__item__excerpt {
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__link-more {
  display: inline-block;
  margin-top: 29px;
  margin-left: 39px;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  display: flex;
  gap: 25px;
  padding: 0 9px 180px;
  background-color: #fff;
}

.about__logo {
  grid-row: 1 / 3;
  width: 352px;
  padding: 0 45px 0 70px;
}

.about__logo__circle {
  padding: 61px 45px;
  width: 237px;
  height: 237px;
  background-color: #000;
  border-radius: 270px;
}

.about__logo__circle__image {
  width: 148px;
  height: 114px;
}

.about__info {
  max-width: 705px;
}

.about__info__heading {
  margin: 97px 0 102px;
  align-self: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__info__text {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-right: 12px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding: 0 58px 90px;
  font-size: 18px;
  background-color: #fff;
}

.ls-0 {
  letter-spacing: 0;
}

.footer__menu__list {
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}

.footer__social {
  justify-self: end;
}

.footer__social__list {
  display: flex;
  gap: 46px;
  list-style-type: none;
}

.footer__social__list__item__link__image {
  width: 48px;
  height: 48px;
}
