.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  padding: 92px 24px 92px 54px;
  background-color: #fff;
}

.header__menu__list {
  display: flex;
  gap: 28px;
  padding: 0;
  list-style-type: circle;
  font-size: 18px;
}

.header__menu__list__item:first-child {
  list-style-type: none;
}

.header__menu__list__item__link {
  padding-left: 5px;
  text-transform: lowercase;
}

.header__menu__list__item:first-child .header__menu__list__item__link {
  padding-left: 0;
}

.header__menu__list__item__link--active {
  text-decoration: none;
}

.header__menu__list__item__link:hover {
  text-decoration: none;
}

.header__logo__img {
  width: 148px;
  height: 105px;
}

.header__contacts {
  display:flex;
  justify-self: end;
  flex-direction: column;
  width: 240px;
  font-size: 18px;
  line-height: 24px;
}

.header__contacts__address {
  font-style: normal;
}

.hero {
  padding: 0 9px 176px;
  background-color: #fff;
}

.hero__content {
  height: 764px;
  padding: 162px 60px 48px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

.hero__content__heading {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 130px;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.hero__content__heading__row--center {
  text-align: center;
}

.hero__content__heading__row--right {
  text-align: right;
}

.hero__content__promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  width: 100%;
  height: 52px;
}

.hero__content__promo__text {
  display: flex;
  justify-content: space-between;
  width: 630px;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  text-align: justify;
}

.hero__content__promo__button {
  display: inline-block;
  padding: 12px 30px;
  box-sizing: border-box;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}

.hero__content__promo__button:hover {
  background-color: #fff;
  color: #000;
}

.lots {
  padding: 0 33px 176px;
  background-color: #fff;
}

.lots_heading {
  margin: 0 27px 37px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  gap: 25px;
  height: 554px;
  list-style-type: none;
}

.lots__list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 38px 46px;
  overflow: hidden;
  color: #fff;
  background-color: #000;
}

.lots__list__item__image {
  position:absolute;
  top: 0;
  left: -0;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.lots__list__item--film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__list__item--book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__list__item--picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__list__item__link {
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
}

.lots__list__item__excerpt {
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__link-more {
  display: inline-block;
  margin-top: 29px;
  margin-left: 39px;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 352px 705px;
  grid-template-rows: 237px 1fr;
  padding-bottom: 180px;
  background-color: #fff;
}

.about__logo {
  grid-row: 1 / 3;
  justify-self: center;
}

.about__logo__circle {
  padding: 61px 45px;
  width: 237px;
  height: 237px;
  background-color: #000;
  border-radius: 270px;
}

.about__text__heading {
  align-self: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding: 0 58px 90px;
  font-size: 18px;
  background-color: #fff;
}

.footer__contacts {
  display:flex;
  flex-direction: column;
  width: 240px;

  line-height: 24px;
}

.footer__contacts__address {
  font-style: normal;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__menu__list {
  list-style-type: none;
  text-align: center;
}

.footer__menu__list__item__link {
  text-transform: lowercase;
}

.footer__menu__list__item__link--active {
  text-decoration: none;
}

.footer__menu__list__item__link:hover {
  text-decoration: none;
}

.footer__social-links {
  justify-self: end;
}

.footer__social-links__list {
  display: flex;
  gap: 46px;
  list-style-type: none;
}

.footer__social-links__list__link__image {
  width: 48px;
  height: 48px;
}
